.button {
  color: black;
  margin: 10px;
  font-size: 20px;
}

.info {
  composes: button;
  background-color: lightblue;
}
.warning {
  composes: button;
  background-color: orange;
}
.danger {
  composes: button;
  background-color: red;
}
.outline {
  composes: button;
  outline: 5px solid black;
}
